<% provide(:title, @user_name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <section class="stats">
       <%= render 'shared/stats' %>
      </section>
    </section>
  </aside>
  <div class="col-md-10">
      <h3>いいねした投稿</h3>
        <ol class="microposts">
          <% if @favorite_list.present? %>
            <% @favorite_list.each do |micropostspost| %>
              <%= @microposts.content %>
            <% end %>
    　      <% end %>
        </ol> 
  </div>
</div>