<footer class="footer">
  <small>
    The Instagram clone application</a>
    by Hinako Uchida</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>